

.Intro{
  text-align: center;

	padding: 30px;
	width: 20%;
	background-color: #02C39A;
  border: 4px solid white;
	display: none;

	position: fixed;
	top: 5%;
	right: 25%;
}

/* displays information box when picture is hovered over */

/* .Intro_div:hover .Intro{
  display: block;
} */
