body{
	background-image: url(../images/beach.jpg);
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: normal;
	font-size: 100%;
}


.bio{

	color: white;
	font-size: 16pt;

	position: absolute; /*element can be place anywhere on the page*/
	left: 100px;
	top: 30px;


}


.welcome {
	width: 400px;
	padding: 5px;
	background-color:  #737373;

	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 5px solid #333333;
	text-align: center;

	position:absolute;
	right: 500px;
	top: 80px;




}

a{
	-webkit-transition: color 0.25s; /* Safari */
    transition: color 0.25s;
    color: white;
    text-decoration: none;
}

a:hover{
	color:blue;
}

/*Canvas for creating 2d art */

canvas{
/*	border: 2px solid grey;*/
}

hr{
	  display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}



.contact{
	position: absolute;
	bottom: 0px;
	width: 100%;

}

nav{
	color:white;
	margin: 30px auto;
	text-align: center;

}

.profile{
	 	display: block;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;

		width: 22vh;
		height: 22vh;
}



.sidebar{
	width: 30%;
	height: 100%;
	background-color: #02C39A;

	position:fixed;
	right:0px;
	top:0px;
}

.sidebar_header{
	text-align: center;
	color: white;
	margin-top: 0px;
	font-size: 1.2rem;
}
